<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="./style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>






<div class="container">
  <div class="row">
      <br/>
        <div class="panel panel-primary">
             <div class="panel-heading">                  
                  <pre>
                    <% for(var i=0; i<data.length; i++) {%>   
                    <%= data[i].question %>  
                  </pre>
             </div><!--.panel-heading-->


<form action="/engine" method="POST">   
                <div class="panel-body">
                    <div class="row">

    <div class="funkyradio">

        <div class="funkyradio-primary">
            <input type="radio" name="radio11" id="radio1" />
            <label for="radio1">First Option default</label>
        </div>

        <div class="funkyradio-primary">
            <input type="radio" name="radio22" id="radio2" />
            <label for="radio2">Second Option primary</label>
        </div>
        <div class="funkyradio-primary">
            <input type="radio" name="radio33" id="radio3" />
            <label for="radio3">Third Option success</label>
        </div>

    </div>

    <div class="col-md-4 text-center"> 
      <button type="submist" class="btn btn-default" id="sub">Submit
      </button>
    </div>        
                           
                    </div>
                </div>

    

</form>
        </div>
</div>
</div>

























</body>
</html>