<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
  May Node and Express be with you.

  <ul class="da">
  <% for(var i=0; i<data.length; i++) {%>
    <li class="quote">
      <span><%= data[i].question %></span>
      <span><%= data[i].optiona %></span>
    </li>
  <% } %>
  </ul>

</body>
</html>