<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Result Page</title>
</head>
<body>
 Thank You for Playing

 <br/>
  
  you scored <%= score %>
    

</body>
</html>